body {
	background: black;
}

* {
	border: 1px dashed red;
	min-height: 10px;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 400px;
	margin: 0;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 5px;
}

.body-left,
.body-right {
	padding: 5px;
}

input {
	border: none;
	border-bottom: 1px grey solid;
	font-size: medium;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: grey;
	padding: 5px;
}

button:hover {
	color: grey;
	background-color: black;
}

button:active {
	background-color: aliceblue;
}
